        p {
            /*
            color: red;
            color: rgb(0,0,255);
            color: #30EDFF;*/
            color: rgba(0,0,255,0.5);
            /*font-size: 30px;*/
            font-size: 1.5em; /* em est la valeur par defaut */
            /* Systeme de rattrapage des polices*/
            font-family: Helvetica,cursive;
            /*font-family: fantasy;*/
            /* sont inclus dans CSS:
            serif
            sans-serid
            cursive */

            font-weight: bold;
            text-align: center;
        }

        p:first-child {
          font-style: italic;
        }


        h1 {
          color: red;
        }

        div div p {
          font-size: 0.8em;
          color: grey;
        }

        .special {
          color: orange;
        }

        #unique {
          font-size: 4em;
        }

        /*Pseudo selector*/

        a:link {
          color: purple;
        }


        a:visited {
          color: red;
        }
        a:hover {
          color:green;
        }

/*
        * {
          border: 2px solid black;
        }
*/
