.red {
  background-color: red;
  width: 150px;
  height: 200px;
  /*margin: 100px;*/
  /*margin-top: 50px;*/
  /*margin: 50px 20px 30px 44px;*/
  /*margin: 50px 20px 30px 44px;*/
  margin: 5px auto;
/*  border-style: solid;
  border-width: 5px;
  border-color: grey;*/
  border-bottom: 15px solid green;
  /*padding: 55px;*/
  /*padding-top: 60px;*/
  padding: 30px 20px 44px 30px;
}

.blue {
  background-color: blue;
  width: 200px;
  height: 150px;

}
